<h1 class="blogtitle">{{ page.title }}</h1>

<p class="subtitle">
<strong>
{{ page.year }} 
{% if page.taxonomies.authors %}
    | Authors:
    {% for author in page.taxonomies.authors %}
        {{ author }}
    {% endfor %}
{% endif %}
{% if page.taxonomies.translators %}
    | Translators:
    {% for translator in page.taxonomies.translators %}
        {{ translator }}
    {% endfor %}
{% endif %}
</strong>
</p>

<hr>
{{ page.content | safe }} 

{% if page.description %}
    <hr>
    <i>{{ page.description | markdown(inline=true) | safe }}</i>
{% endif %}
